#Inventory - Production Servers
#It is suggested that you define groups based on purpose of the host (roles) and also geography or datacenter location (if applicable):

[webservers]
192.241.150.237

[dbservers]
192.241.150.237

[appservers]
192.241.150.237

[vps_production:children]
webservers
dbservers
appservers