{{ rails_env }}:
  adapter: <%= ENV['DB_ADAPTER'] %>
  encoding: <%= ENV['DB_ENCODING'] %>
  database: <%= ENV['DB_NAME'] %>
  pool: <%= ENV['DB_POOL'] %>
  username: <%= ENV['DB_USER'] %>
  password: <%= ENV['DB_USER_PASS'] %>
  #host: <%= ENV['DB_HOST'] %>
  #port: <%= ENV['DB_PORT'] %>