# {{ ansible_managed }}

DB_ADAPTER= {{ db_adapter }}
DB_ENCODING= {{ db_encoding }}
DB_NAME= {{ db_name }}
DB_POOL= {{ db_pool }}
DB_USER= {{ db_user }}
DB_USER_PASS= {{ db_user_pass }}
AWS_S3_KEY= {{ aws_s3_key }}
AWS_S3_SECRET= {{ aws_s3_secret }}
AWS_S3_REGION= {{ aws_s3_region }}
AWS_S3_BUCKET= {{ aws_s3_bucket }}
AWS_S3_ASSET_URL= {{ aws_s3_asset_url }}
SECRET_TOKEN= {{ rails_secret_token }}
