# Monitors the PostgreSQL database service
# This uses the "root" PostgreSQL role and database.
# PostgreSQL will record errors if these do not exist.
check process postgresql with pidfile /var/run/postgresql/{{ postgresql_version }}-main.pid
	group database
	start program "/etc/init.d/postgresql start"
	stop program "/etc/init.d/postgresql stop"
	if failed unixsocket /var/run/postgresql/.s.PGSQL.5432 protocol pgsql then restart
	if failed unixsocket /var/run/postgresql/.s.PGSQL.5432 protocol pgsql then alert
	if failed host localhost port 5432 protocol pgsql then restart
	if failed host localhost port 5432 protocol pgsql then alert
	if failed unixsocket /var/run/postgresql/.s.PGSQL.5432 protocol pgsql then restart
	if 2 restarts within 2 cycles then alert
	if 5 restarts within 5 cycles then timeout